@tailwind base;
@tailwind components;
@tailwind utilities;

body {
    min-height: 100vh;
    position: relative;
    box-sizing: border-box;
    padding-bottom: 220px;
}

@media (max-width: 768px) {
    body {
        padding-bottom: 360px;
    }
}